/* style.css */

/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
}

/* Game Elements */
canvas {
    background: url('img/Background.jpg');
    background-size: 100vw 100vh;
}